{% extends 'layoutAdmin.html.twig' %}

{% block title %}

Edition - {{ parent() }}

{% endblock %}

{% block body %}

<div class="flash">
    {% for message in app.flashes('notice') %}
        <p>{{ message }}</p>
    {% endfor %}
</div>

<h2>Edition d'un instrument</h2>

<div>
    {{ form(form) }}
</div>

{% endblock %}