{% extends 'layout.html.twig' %}

{% block title %}

Partitions - {{ parent() }}

{% endblock %}

{% block body %}

<h2>Partitions</h2>

{% for sheet in listSheets %}
<li>
  {{ sheet.name }} Prix: {{ sheet.price }}$
    <a href="{{ path('edit_partition', {'id': sheet.id}) }}">
      <button type="button">
      Modifier l'article
      </button>
    </a>
</li>
{% else %}
<li>Pas de partition en stock pour le moment !</li>
{% endfor %}

{% endblock %}