{% extends 'layout.html.twig' %}

{% block body %}
    {% for instru in listInstruments %}
    <li>{{ instru.name }} Prix: {{ instru.price }}$</li>
    {% else %}
    <li>Pas d'instrument dans cette catégorie.</li>
    {% endfor %}
{% endblock %}
