<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Les Clefs En Fête{% endblock %}</title>
        <link href="{{ asset('css/e_commerce.css') }}" type="text/css" rel="stylesheet">
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
