{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Hello !</h1>
    {% for test in test %}
    <li>{{test.name}}</li>
    {% else %}
    <li>Pas d'instrument dans cette catégorie.</li>
    {% endfor %}
{% endblock %}
